.agency_page {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
}

/* CHOSEN AGENCY */

.chosen_agency {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.agency_page .chosen_agency .prev_btn,
.chosen_agency .next_btn {
  width: 10%;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agency_page .chosen_agency .agency_avatars_wrapper {
  width: 90%;
  height: 147px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.agency_avatars_wrapper .agency_avatars {
  width: 108px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ccc;
}

.chosen_agency .agency_avatars img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
}

.chosen_agency .agency_avatars span {
  margin-top: 14px;
  font-family: "Solway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ff5a3c;
}

/* EXPLORE NEW NEIGHBOOR_HOOD STYLE */
.explore_property .card_tite {
  color: #212529;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.explore_property .card_sub_title {
  color: #ff5a3c;
  width: 138px;
  font-weight: 700;
  background-color: rgb(255, 90, 60, 0.2);
  text-align: center;
  padding: 6px 20px;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.all_agency_banner {
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url("../../public/images/agency/allAgency.jpg");
  background-size: cover;
  background-position: center;
}
