.latest_frame {
  background-color: #fff;
}

.latest_frame_wrapper .card_tite {
  color: #212529;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.latest_frame_wrapper .card_sub_title {
  color: #ff5a3c;
  width: 106px;
  font-weight: 700;
  background-color: rgb(255, 90, 60, 0.2);
  text-align: center;
  padding: 6px 20px;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.main_focus_wrapper {
  background: #f2f6f7;
}

.service_frame .card_tite {
  color: #212529;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.service_frame .card_sub_title {
  color: #ff5a3c;
  font-weight: 700;
  background-color: rgb(255, 90, 60, 0.2);
  text-align: center;
  padding: 6px 20px;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.main_focus_icon_box {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 280px;
  height: 140px;
}

.main_focus_img {
}

.main_focus_card .main_focus_title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.main_focus_card .main_focus_title a {
  text-decoration: none;
  color: #071c1f;
}

.main_focus_card .main_focus_text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  color: #5c727d;
  line-height: 33px;
  margin-bottom: 25px;
}

.main_focus_card .main_focus_link {
  text-decoration: none;
  color: #8cb2b2;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

/* FEatured Listes */
.featured_frame .card_tite {
  color: #212529;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.featured_frame .card_sub_title {
  color: #ff5a3c;
  width: 106px;
  font-weight: 700;
  background-color: rgb(255, 90, 60, 0.2);
  text-align: center;
  padding: 6px 20px;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.featured_card_wrapper {
  position: relative;
}

.featured_card_item {
  box-shadow: 0 0 10px 1px rgba(93, 93, 93, 0.4);
}

.featured_card_wrapper .location_galery_label {
  position: absolute;
  top: 15px;
  right: 15px;
  font-style: 13px;
  font-weight: 600;
  padding: 3px 15px;
  font-size: 20px;
  background-color: #ff5a3c;
  text-transform: uppercase;
  line-height: 25px;
  color: #fff;
}

.featured_card_wrapper .location_galery_info {
  width: 100%;
  height: 60px;
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.8) 70%);
}

.featured_card_wrapper .location_galery_info-address {
  display: flex;
  align-items: center;
  margin-right: 50px;
  text-decoration: none;
}

.featured_card_wrapper .location_galery_info-address:hover {
  color: #ff5a3c;
  transition: all 0.3s ease 0s;
}

.featured_card_wrapper .location_galery_info-right {
  color: #fff;
  text-decoration: none;
  padding: 2px 5px;
  width: 42px;
  height: 30px;
  line-height: 30px;
  background-color: hsla(0, 0%, 100%, 0.3);
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* APPARTMENT PLAN STYLE */
.plan_frame .card_tite {
  color: #212529;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.3;
  font-size: 44px;
  font-family: "Poppins", sans-serif;
}

.plan_frame .card_sub_title {
  color: #ff5a3c;
  width: 180px;
  font-weight: 700;
  background-color: rgb(255, 90, 60, 0.2);
  text-align: center;
  padding: 6px 20px;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.swiper {
  width: 100%;
  height: 800px;
  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff5a3c;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #ff5a3c !important;
}

.plan_tite_wrapper {
  font-size: 24px;
  padding-top: 30px;
}
.plan_title {
  color: #ff5a3c;
  border-bottom: 1px solid #ff5a3c;
  font-size: 26px;
}

/* BUILDING FACILITY STYLE */
.facility_icon_box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fff2f0;
  padding: 25px 0;
  border-radius: 50%;
}

.icon_arrow_box {
  position: absolute;
  bottom: 0;
  width: 45px;
  height: 45px;
  background-color: #fff;
  padding: 25px 0;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
