.format {
  width: 1320px;
  position: relative;
  background-image: url("../../public/images/home/home_bg.jpg");
  background-size: cover;
  max-width: 100%;
}

.home_navbar {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 28, 31, 0.4);
}
.navbar_config {
  width: 1300px;
  height: 72px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.home_navbar .agency_navbar_config {
  /* background-color: #fff; */
}

.home_navbar .navbar_links {
  width: 800px;
  height: 72px;
}

.home_navbar a {
  text-decoration: none;
}

.hover-line .my_page {
  color: #000;
}

.hover-line a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 10px 10px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

.underline {
  display: block;
  content: "";
  border-bottom: solid 2px #ff5a3c;
}

.hover-line::after {
  display: block;
  content: "";
  border-bottom: solid 2px #ff5a3c;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.hover-line:hover:after {
  transform: scaleX(1);
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: #ff5a3c;
}

.header_btn {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: #ff5a3c;
}

/* AGENCY PAGE */

.format_agency {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
}

.format_agency_img {
  position: relative;
  width: 100%;
  height: 680px;
  display: flex;
  background-image: url("../../public/images/home/agency_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  margin-bottom: 200px;
}

.agency_hover-line a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 10px 10px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
  text-decoration: none;
}

/* OTHERS PAGE */

.format_others {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 442px;
  display: flex;
  background-color: #fff;
}

.format_others_img {
  position: relative;
  width: 100%;
  height: 326px;
  display: flex;
  background-image: url("../../public/images/home/others_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
}

.others_hover-line a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 10px 10px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
  text-decoration: none;
}

/* START BASKET */

.basket_frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
}

.basket_frame .all_check_box {
  padding: 0px 6px;
  width: 100%;
  height: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #d9d9d9;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #939393;
}

.basket_frame .basket_info_box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket_info_box .estate_img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket_info_box .estate_name {
  margin-left: 11px;
  width: 185px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket_info_box .estate_price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
}

.basket_info_box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket_info_box .css-ece9u5 {
  min-width: 72px;
}

.basket_frame .cancel_btn {
  position: absolute;
  top: 33%;
  right: 0%;
  cursor: pointer;
}

.basket_frame .to_order_box {
  margin-top: 10px;
  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  justify-content: "space-between";
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.to_order_box .price_text {
  margin-left: 27px;
  margin-right: 40px;
  width: 200px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket_frame .orders_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket_frame .orders_main_wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;

  display: flex;
  flex-direction: column;
}

/* END BASKET */
